.banners {
  display: grid;
  row-gap: 96px;

  @include on-tablet {
    row-gap: 120px;
  }
}

.banner__button {
  @include page-grid;
}

.banner__button-element {
  grid-column: 1 / -1;
  width: 100%;
  height: 56px;
  background-color: #292929;
  color: #fff;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition:
    background-color $effectDuration,
    color $effectDuration;

  @include on-desktop {
    grid-column: span 4;
  }

  &:hover {
    background-color: #f8f8fa;
    color: #292929;
    border-color: #292929;
  }

  &:active {
    background-color: #111;
    color: #fff;
    transform: scale(0.98);
  }
}

.banner__content {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  height: 280px;
  overflow: hidden;

  @include on-tablet {
    height: 360px;
  }

  @include on-desktop {
    height: 480px;
  }
}

.banner__link {
  display: block;
  width: 100%;
  height: 100%;
}

.banner__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform $effectDuration;

  &:hover {
    transform: scale(1.03);
  }
}
