.contacts {
  display: grid;
  row-gap: 40px;

  &__content {
    @include page-grid;
  }

  &__form {
    grid-column: 1 / -1;

    @include on-desktop {
      grid-column: 1 / span 5;
    }
  }

  &__info {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include on-desktop {
      grid-column: 7 / -1;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
  }

  &__label {
    font-size: 14px;
    color: #9393a3;
  }

  &__value,
  &__address {
    font-family: 'Space Mono', monospace;
    font-size: 16px;
    color: #191919;
    text-decoration: none;
  }

  &__link,
  &__address {
    text-decoration: none;
    transition: color $effectDuration;

    &:hover {
      color: #9393a3;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__field {
    width: 100%;
  }

  &__textarea {
    height: 120px;
    resize: vertical;
  }

  &__input,
  &__textarea {
    width: 100%;
    min-width: 0;
    padding: 14px 16px;
    background-color: #f8f8fa;
    border: 1px solid transparent;
    border-radius: 10px;
    font-family: 'Space Mono', monospace;
    font-size: 14px;
    color: #7e7e83;
    outline: none;
    box-sizing: border-box;
    transition: border-color $effectDuration;

    &:hover {
      border-color: #f8f8fa;
    }

    &:focus {
      border-color: #292929;
      background-color: #f8f8fa;
    }
  }

  &__button {
    width: 100%;
    height: 56px;
    background-color: #292929;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 10px;
    font-family: 'Space Grotesk', monospace;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition:
      background-color $effectDuration,
      color $effectDuration;

    &:hover {
      background-color: #f8f8fa;
      color: #292929;
      border-color: #f0f1f4;
    }

    &:active {
      background-color: #111;
      color: #fff;
      transform: scale(0.98);
    }
  }
}
