html {
  scroll-behavior: smooth;
}

.page {
  font-family: 'Space Grotesk', 'Space Mono', sans-serif, monospace;
  font-size: 16px;
  line-height: 140%;
  color: $main-text-color;

  max-width: 100vw;
  overflow-x: hidden;

  &:has(.page__menu:target) {
    overflow: hidden;
  }

  &__body {
    margin: 0;
    min-width: 320px;
    margin-bottom: 200px;
    overflow-x: hidden;
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    transition: all $effectDuration;
    opacity: 0;
    transform: translateX(-100%);
    pointer-events: none;

    &:target {
      opacity: 1;
      transform: translateX(0);
      pointer-events: all;
    }
  }
}

h1,
h2 {
  font-family: 'Space Grotesk', monospace;
}
