.product {
  &__link {
    display: block;
    overflow: hidden;
  }

  &__photo {
    width: 100%;
    display: block;
    transition: transform $effectDuration;

    &:hover {
      transform: scale(1.05);
    }
  }
}
